//$green: #4af6cd;

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily:  "Montserrat", sans-serif;
$textFontFamily: "Raleway", sans-serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #2d2d2d;
$mainColor1: #2d2d2d;
$mainColor2: #d42027;
$mainColor2Hover: #972126;